// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


$primary: #D92332;
$secondary:  #D94350;
$dark:#262526;
$white:  #F2F2F2;

$font-family-sans-serif: "Robot", sans-serif !default;
$font-family-serif: "Hind Madurai", serif !default;
